<!DOCTYPE html>
<html>
<head>
  <title> LOGIN | QandA</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

      {% load staticfiles %}

      <link rel="stylesheet" href="{% static "css/loginpg.css" %}">
      <script src="{% static "js/loginjq.js" %}"></script> 
      <script type="text/javascript">
      </script>

</head>
<body>
      <h3 class="heading" color="white">QandA</h3>
      <br><br><br><br>
      <div class="container">
        <div class="rowsize" >
         <div class="col-md-3">
          <br><br>
          <form id="formlogin" action="main/" method="POST">
          {% csrf_token %}
          <div class="input-group">
          <div class="row">
          <!-- <div>Username: </div> -->
          <input type="usrnm" class="form-control" id="username" placeholder="Enter Username">
          </div>
          <br>
          <div class="row">
          <!-- <div>Password: </div> -->
          <input type="password" class="form-control" id="password" placeholder="Password" onsubmit=fnsubmit()>
          </div>
          <div class="row">
          <br>
          <button id = "submit" class="btn btn-info" type="submit">Submit</button>
          </div>

          </div>
          </form>
        </div>
        <div id="or" class="col-md-1"><br><br><br><br> <p> OR </p>
        </div>
        <div id="signup" class="col-md-1">
        <br><br><br>
        <a href="/signup/"><button id = "submit" class="btn btn-info" type="submit"> Sign Up</button></a>
        <br><br>
        {% block main %}
        {% if user and not user.is_anonymous %}
          <!-- <p id="fbuser"> {{ user.get_full_name|default:user.username }}! </p> -->
         
        {% else %}         
        <a href="{% url 'social:begin' 'facebook' %}?next=/main/"><button onclick = "myFacebookLogin()" id = "fbsignin" class="btn btn-info" type="submit">Sign Up Using Facebook</button></a>
        <br>       
        <!-- onclick = "myFacebookLogin()" -->
        </div>
        </div>
        </div>
        <!-- <div id="loggedin">
        <a href="{% url 'social:begin' 'facebook' %}?next=/main/">Click to redirect to App-QandA from facebook</a>
        </div> -->
        
        {% endif %}
        
        
 <!--        <div class="fb-login-button" data-max-rows="3" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> -->
      
      
      {% endblock %}


    <br><br>
    <p id="msg1">Login successful</p>
    <p id="msg2">The username/password entered is blank</p>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83518664-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>