<!DOCTYPE html>
<html>
<head>
  <title> LOGIN </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<style type="text/css">
body {
    background-color: rgb(255, 255, 225);
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$("document").ready(function(){
    var $form=$("formlogin");
    $("#msg1").hide();
    $("#msg2").hide();
    $("#submit").click(function(event){
      if($(".form-control").val().length===0){
        $("#msg2").show();
        event.preventDefault();
      }
      else {
      $.ajax({
          type: "POST",
          url: $form.attr("action"),
          // data: $form.serializeArray(),
          data: 
          { 
            username : $("#username").val(), 
            password : $("#password").val()
          },
          success: function(data){        
            window.location.href = '/main/';
                  }
          // error: function(data){
          //   $("#msg2").show();
          //         }
            });
    }
    return false;
    });
});
    // var csrftoken = getCookie('csrftoken');




</script>
</head>
<body>
<br><br><br><br>
<div class="container">
  <div class="row"><h3>Please Login</h3></div>
  <br><br>
  <form id="formlogin" action="main/" method="POST">
    {% csrf_token %}
    <div class="input-group">
    <div class="row">
    <div class="col-md-3" align="right">Username: </div>
    <input type="usrnm" class="form-control" id="username" placeholder="Enter Username">
    </div>
    <br>
    <div class="row">
    <div class="col-md-3" align="right">Password: </div>
    <input type="password" class="form-control" id="password" placeholder="Password" onsubmit=fnsubmit()>
    <div class="col-md-1"><br><br><br>
    <button id = "submit" class="btn btn-info" type="submit">Submit</button>
    </div>

    </div>
    </div>
  </form>
    <br>
    <p id="msg1">Login successful</p>
    <p id="msg2">The username/password entered is incorrect</p>
</div>


</body>
</html>