<!doctype html>
<html> 
    <head> 
        <title>Home - Qanda</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.js"></script>

		{% load staticfiles %}

		<link rel="stylesheet" href="{% static "css/quorahome.css" %}">
		<script type="text/javascript"> 
		var profpic = "{% static "img/qlogo.gif" %}"
		</script>
		<script src="{% static "js/qonlypg.js" %}"></script>	
		<script type="text/javascript">
		</script>
		
    </head>
    <body>
    <hr class="hozfrst" color="#b92b27">
	<div class="container">
      <div class="rowsize" >
         <div class="col-md-2">
            <a id="atitle" href="/main/"><p class="title"> Qanda </p></a>
         </div>
         <div class="col-md-5">
            <div class="ask_bar">
                <!-- <select class="js-example-basic-single selector"> -->
                <!-- <select class="selector"></select> -->
                <!-- <option></option> -->
                {% csrf_token %}
                <form id="askform">
                <input id="askquestionhere" class="selector" placeholder="   Ask a Question here">
                <a id="askbutton" class="AskButton" href="#"><div>Ask Question</div></a>
                </form>
            </div>
         </div>
         <a class="imgtag" href="/main/">
         <div class="col-md-1">
         <img class="image" src="{% static "img/readfile.png" %}">Read
         </div></a>
         <!-- change href on deployment -->
         <a class="imgtag" href="/answer/">
         <div class="col-md-11">
         <img class="image" src="{% static "img/pencil.png" %}">Answer
         </div></a>
         <!-- <a class="imgtag" href="#">
         <div class="col-md-12">
         <img class="image" src="{% static "img/bell1.png" %}">Notifications
         </div></a> -->
         <!-- <a class="imgtag" href="#"> -->
         <div class="col-md-2"> 
         <div class="dropdown">
         <!-- <img class="image" src="{% static "img/batman2.png" %}">{{ request.user.username }} -->
        <button id="mainnamebutton" class="dropdown-toggle" type="button" data-toggle="dropdown">
        <a class="imgtag" href="#"><img class="image" src="{% static "img/qlogo.gif" %}">
        {{ request.user.username }}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/user/{{ request.user.username }}/">Profile</a></li>
            <li><a onclick="FaceebookLogout()" href="{% url "django.contrib.auth.views.logout" %}?next=/">Logout</a></li>
        </ul>
        </a>
        </div>
         </div>
      </div> 
	<hr class="hozline" color="#ddd">
	     <div id="bdy" class="rowsize">
	     	<div class="col-md-1">
	     	</div>
		     <div class="col-md-6">
			  	 <div class="qa">
			  	 </div>
			</div>

		     <div class="col-md-2">
		     	<div class="test">
		     	</div>
		     	
		     </div>
	     </div>
<!-- 	  </div> -->
    </div>
	
<!-- modal -->
<div id="commentsmodal" class="bd-example">
  <!-- <a data-toggle="modal" data-target="#commentsModal" data-whatever="@mdo">Answer</a> -->
  <div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div id="commenttext" class="modal-title"></div>
        </div>
        <div class="modal-body">
        {% csrf_token %} 
          <form>
            <div class="form-group">
              <label for="answer-text" class="form-control-label">comment:</label>
              <textarea class="form-control" id="comment-text" rows="2"></textarea>
            </div>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          <!-- <button data-dismiss="modal" aria-label="Close" id="written_ans" type="button" class="btn btn-primary button">Submit
          </button> -->
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

        

        <!-- Add your site or application content here -->
    </body>
</html>