<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">

function fol_users() {
  $.get("folusers/",function(data){
    json = $.parseJSON(data);
    for(i=0;i<json.length;i++){
      // console.log(json[0].fields.username);
      debugger
      var newb = document.createElement("button");
      var space = document.createElement("br");
      newb.className = "btn btn-primary";
      newb.id = i;
      newb.type = "submit";
      newb.textContent = json[i].fields.username;
      $("#sub").append(newb);
      $("#sub").append(space);
    }
  });  
  return true;
}

$("document").ready(function(){
  fol_users();
  $("#sub").on("click", "button", function(){
    $.ajax({
        type: "POST",
        data: 
        { 
          selection : $(this).text()
        },
        success: function(data){ 
          $("#sub").empty();     
          fol_users();
                }
          });
  return false;
  }); 
}); 


</script>

<div class="container">
<br>
<br>
	<h4>Click to follow</h4>
	<form id ="sub" method="post">
  	<!-- <button name = "usr" type="submit" class="btn btn-primary"></button> -->
  	</form>		
</div>

</body>
</html>