body {
	background: linear-gradient(to right top, white, #b92b27) fixed;
}

.heading {
	margin-left: 8.8%;
	margin-top: 3%;
}

.heading {
	color: "white";
}

#or {
	margin-left: -2%;

}

#signup {
	margin-left: -1%;
	margin-top: -0.7%;
}

#submit {
	/*color: #ddd;*/
}

#fbuser {
	visibility: hidden;
}

#loggedin {
	margin-left: 120px;
	margin-top: 12px;
	color: "black";
	background-color: "white";
	text-decoration: underline;

}